# Socket Server Configuration
SOCKET_SERVER_HOST=http://localhost
SOCKET_SERVER_PORT=3000
SOCKET_SERVER_SECRET=secret

# LiveKit Credentials
LIVEKIT_URL=wss://musaid-f65cr5ss.livekit.cloud
LIVEKIT_API_KEY=APIUKt7vXBrdzud
LIVEKIT_API_SECRET=ZzGe62uGFEjUBCT40HzfYeNDZjenHjE0iXHPW9Cofe9M

# Frontend Configuration
DASHBOARD_URL=http://localhost:5173
